.tri{width:60%; padding:2%; 
display:inline-flex;
max-height:30%;
}
.profiled{width:33%; padding-right:5%}
.opisd{width:67%}
.profilep{width:95%}

@media (max-width:1000px){
.tri{display:block; width:100%}
}

