.tri{width:60%; padding:2%; 
max-height:30%;
}
.profiled{width:33%; padding-right:5%}
.profilep{width:95%}



#cet{display:inline-flex}

@media (max-width:1000px){
.tri{display:block; width:95%}
#cet{display:block}
}
