body {
background-image: url(../zdj//theme343.png); 
 background-repeat: round;
    background-attachment: fixed;
    background-position: top ;
    
}
body{font-family: 'Montserrat', sans-serif;}

#d1{
margin-top: 5%;
margin-bottom: 5%;
width: 95%;
max-width:1200px;
background-color: white;
padding-top: 1%;
padding-bottom: 1%;
}

#p1{
font-size: 300%;
font-weight: bold;
margin-bottom: 0px}

.i1{
width: 100%;
}

.d2{
display: inline-flex;
}

.d3{
width:95%;
padding:2%;
color:black;
text-align:left;
max-width:500px;
-webkit-text-size-adjust:auto;
}

.p2{
font-size: 180%;
font-weight: bold;
margin:0px;
margin-top:1%;

}

.p3{
font-size:150%;
color: #bfbfbf;
margin:0px;
margin-top:1%;
}

a{
text-decoration:none;
color:black;}

footer{
width:100%;
display: inline-flex; 
}

#ed1{margin-top:10%;}