body{
}

#cet{text-align:left;
margin-left: auto;
margin-right: auto;
margin-top: 10%;
margin-bottom:10%; 
color:red;
background-color:black;
padding:3%;
max-width:900px;
text-size-adjust: auto;
position:center;
width:95%
}



.pf1{
	color: red;
	font-weight: bold;
	font-size: 16px;
	text-align: left;
	width: 33%;
}

.pf2{
	color: red;
	font-weight: bold;
	font-size: 16px;
	text-align: right;
}

.d3:hover {box-shadow: -2em 3em 2em -2em lightgray;}

.p3a{
font-size:150%;
color: #bfbfbf;
margin:0px;
margin-top:1%;
text-align:left; margin-left:1%; margin-right:1%;
}

.d330{
width:30%;
padding:2%;
color:black;
text-align:left;
}

.d370{
width:70%;
padding:2%;
color:black;
text-align:left;
}

.d315{
width:15%;
padding:2%;
color:black;
text-align:left;
}

.d385{
width:85%;
padding:2%;
color:black;
text-align:left;
}

.p4{
font-weight: bold;
font-size: 100%;
}

.d2c{
display: inline-flex;
}

.d3c{
width:95%;
padding:2%;
color:black;
text-align:left;
max-width:500px;
-webkit-text-size-adjust:auto;
}

@media (max-width:1000px) {
#cet{font-size: 300%;}
.d2c{display: block;}
.d2{display: block;}
.d3c{width:85%; max-width:unset; font-size:150%;}
.pf1{font-size:50%}
.pf2{font-size:50%}
.d315{width:50%}
.d385{font-size:300%}
#p1{font-size:600%}
.d330{display:none}
.d370{font-size:200%}
.p3a{font-size:250%}

}

