.pf1{
	color: red;
	font-weight: bold;
	font-size: 16px;
	text-align: left;
	width: 33%;
}

.pf2{
	color: red;
	font-weight: bold;
	font-size: 16px;
	text-align: right;
}

.d3:hover {box-shadow: -2em 3em 2em -2em lightgray;}