ol > li > ul {
  display:none;
}

ol > li:hover > ul {
  display:block;
}

ol, li {
list-style-type:none;
text-decoration:none;
color: black;
text-align:center;
}

a{text-decoration:none;
color:black;}

#menu:hover{height:120px}