#product{
	background-color: white;
	width: 85%;
	padding-top: 1%;
	padding-bottom: 1%;
	margin-top: 2%;
	margin-bottom: 5%;
}

p{margin:0px;}

.h10{
	font-weight: bold;
	font-size: 200%;
}

a{margin: 0px}

.t10{margin: 0px;
display: inline-flex;
text-align: center;}

.prod{
	width:33%;
	text-align: left;
	padding: 1%;
	margin-bottom: 4%
}

.pphoto{
	width: 95%;
	height: 100%;
}

.ptitle{
	font-weight: bold;
	text-align: left;
}

.pnumber{
	color: grey;
	text-align: left;
}

.prod:hover {box-shadow: -2em 3em 2em -2em lightgray;}